.imageContainer {
    display: inline;
}

.image {
    height: 40px
}

.itemMainContainer {
    display: flex;
}

.itemContent {
    padding: 0px 20px;
    width: 100%;
}

.itemMainContainer {
    margin-top: 20px;
    margin-bottom: 20px
}

.itemDate {
    margin-right: 15px
}

.searchBar {
    width: 100%;
    text-decoration: none;
    border: 2px 0px 0px 0px;
    margin-top: 10px;
}

.header {
    font-weight: 700;
}

.chatsMainContainer {
    padding: 20px;
    flex-grow: 1;
}